<template name="Index">
	<style>
		body {
		    background-image: url("../img/background.jpg");
		    color: #333333;
		    font-family: "open_sansregular",'Open Sans',Arial,Helvetica,sans-serif;
		    overflow-x: hidden;
		}
		.container {
		    background-color: #fff;
		    -webkit-box-shadow: 6px 6px 6px 0px rgba(50, 50, 50, 0.59);
		    -moz-box-shadow: 6px 6px 6px 0px rgba(50, 50, 50, 0.59);
		    box-shadow: 6px 6px 6px 0px rgba(50, 50, 50, 0.59);
		    margin-right: auto;
		    margin-left: auto;
		    padding-left: 15px;
		    padding-right: 15px;
		}
	</style>
    <div class="container">
        <div class="row">
 			<div class="col-lg-12 col-sm-12 col-xs-12">
            	<h1><img src="icon.png" class="img-corner" width="54" height="54"> ÓleoJá 0.0.1</h1>
            </div>
        </div>
		<div class="row">
 			<div class="col-lg-12 col-sm-12 col-xs-12 text-center">
            	<h4>Troca de óleo delivery</h4>
            </div>
        </div>
        <div class="row">
          <div class="col-md-12 col-md-12 col-lg-12 text-center">
           	<a href="avizinha.apk">
				<img src="android.png" class="img-rounded" alt="Android">
			</a>
          	<a href="itms-services://?action=download-manifest&url=https://oleoja.com.br/manifest.plist">
          		<img src="apple.png" class="img-rounded" alt="Apple">
          	</a>
          </div>
        </div>
        <hr>
        <footer class="well well-sm">
			<p style="text-align: center; padding-top: 10px">&copy; 2016 ÓleoJá. Todos os direitos reservados.</p>
		</footer>
	</div>
</template>